Repository Karmicjuju/Danklas-API, changes with the owners that .github/CODEOWNERS names for each.
All owners: @api-owners, @security-team, @platform-team

feat: Complete Epic 6 & 7 - Multi-Region DR & VPC Connectivity (DANK-6.1, DANK-6.2, DANK-7.1, DANK-7.2)
  app/main.py
  terraform/multi-region.tf
  terraform/vpc-connectivity.tf
  tests/test_query_endpoint.py
Owners: @security-team, @api-owners, @platform-team

chore: Fix black and isort formatting issues
  app/main.py
  app/tracing.py
  pyproject.toml
Owners: @security-team, @api-owners

chore: Apply black and isort formatting to remaining files
  .github/workflows/ci.yml
  app/guardrails.py
  app/rate_limiting.py
  tests/test_query_endpoint.py
Owners: @platform-team, @api-owners, @security-team

fix(tracing): Disable OTLP exporter in test environment to prevent CI failures
  app/tracing.py
Owners: @api-owners

fix(ci): Fix Poetry configuration for CI workflow
  poetry.lock
  pyproject.toml
Owners: @api-owners

fix(ci): Use Poetry 1.7.1 compatible dev-dependencies format
  pyproject.toml
Owners: @api-owners

fix(ci): Downgrade Python version from 3.13 to 3.11 for better dependency compatibility
  .github/workflows/ci.yml
Owners: @platform-team, @api-owners

refactor: Pivot from Poetry to pip for better CI reliability
  .github/workflows/ci.yml
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Owners: @platform-team, @api-owners

fix: Final pip setup adjustments for CI
  app/tracing.py
  requirements.txt
Owners: @api-owners

fix(ci): Configure setuptools package discovery for editable install
  pyproject.toml
Owners: @api-owners

Simplify API architecture: Refactor guardrails, auth, and rate limiting
  app/auth/__init__.py
  app/auth/jwt.py
  app/config/__init__.py
  app/config/settings.py
  app/guardrails.py
  app/main_simplified.py
  app/middleware/__init__.py
  app/middleware/auth.py
  app/middleware/logging.py
  app/rate_limiting.py
  app/routes/__init__.py
  app/routes/guardrails.py
  app/routes/knowledge_bases.py
Owners: @api-owners, @security-team

Simplifying the api to get to mvp
  .claude/AUDIO_SETUP.md
  .claude/hooks/on_input_request.sh
  .claude/settings.json
  .claude/sounds/bonk.aiff
  .claude/sounds/success.aiff
  CLAUDE.md
  app/guardrails.py
  app/main.py
  app/rate_limiting.py
  app/tracing.py
  requirements.txt
  setup_projet_audio.sh
  tests/test_query_endpoint.py
Owners: @api-owners, @security-team

relentless simplification
  .github/workflows/ci.yml
  .github/workflows/guardrail-approval.yml
  Dockerfile
  README.md
  pyproject.toml
  setup_projet_audio.sh
  terraform/README.md
  terraform/main.tf
  terraform/multi-region.tf
  terraform/vpc-connectivity.tf
Owners: @platform-team, @api-owners

fixing ci workflow
  .github/workflows/ci.yml
  app/main.py
  tests/test_query_endpoint.py
Owners: @platform-team, @api-owners, @security-team

adding developer resources
  .env.example
  README.md
  app/main.py
Owners: @api-owners, @security-team

fixing linting errors
  app/main.py
Owners: @security-team, @api-owners

remove auto doc
  .github/workflows/terraform-lint.yml
Owners: @platform-team, @api-owners

so done with linters
  .github/workflows/terraform-lint.yml
  Dockerfile
  app/main.py
  requirements-dev.txt
  tests/test_query_endpoint.py
Owners: @platform-team, @api-owners, @security-team

I guess the checks are there for a reason
  Dockerfile
  lambda/authorizer/lambda_function.py
  terraform/alb.tf
  terraform/ecr.tf
Owners: @platform-team, @api-owners

yup its 2:21am
  app/__init__.py
  lambda/authorizer/lambda_function.py
  pyproject.toml
  terraform/api-gateway.tf
  terraform/ecs.tf
  terraform/environments/dev/main.tf
  terraform/environments/prod/main.tf
  terraform/lambda-authorizer.tf
  terraform/locals.tf
  terraform/main.tf
  terraform/waf.tf
Owners: @api-owners, @platform-team

im giving up on terraform public modules passing security checks and going to bed
  .gitignore
  terraform/.terraform.lock.hcl
  terraform/alb.tf
  terraform/ecr.tf
  terraform/main.tf
  terraform/versions.tf
Owners: @api-owners, @platform-team

.github/CODEOWNERS:

# Danklas API Code Owners

# Default owners for all files
* @api-owners

# Guardrail configurations require security team approval
app/guardrails.py @security-team @api-owners
guardrails/ @security-team @api-owners
**/*guardrail* @security-team @api-owners
.github/workflows/guardrail-approval.yml @security-team @api-owners

# Authentication and authorization code requires security review
app/main.py @security-team @api-owners
app/rate_limiting.py @security-team @api-owners

# Infrastructure changes require platform team approval
terraform/ @platform-team @api-owners
.github/workflows/ @platform-team @api-owners
Dockerfile @platform-team @api-owners

# CI/CD configuration
.github/workflows/ci.yml @platform-team @api-owners

# Documentation
*.md @api-owners
docs/ @api-owners
